@import './reset.css';

#app {
  max-width: 1320px;
  margin: 0 auto;
}

:root {
  --color-white: #ffffff;
  --color-gray: #dadada;
  --color-light-gray: #f2f2f2;

  --color-dark: #2e2e2e;
  --color-dark-gray: #3c3c3c;

  --color-blue: #5181ff;
  --color-blue-hover: #608CFF;
  --color-selection: rgb(32%, 51%, 100%, 0.2);

  --color-background: var(--color-white);
  --color-text: var(--color-dark-gray);

  --text-h1: 69px;
  --text-weight-h1: 600;

  --text-h3: 44px;
  --text-h4: 35px;
  --text-h6: 22px;
  --text-p: 18px;

  --text-weight-default: 500;

  --section-gap: 150px;
}

::selection, ::-moz-selection {
  background: var(--color-selection);
}

h1 {
  font-size: var(--text-h1);
  font-weight: var(--text-weight-h1);
  color: var(--color-blue);
}

h3 {
  font-size: var(--text-h3);
  font-weight: var(--text-weight-default);
}

h6 {
  font-size: var(--text-h6);
  font-weight: var(--text-weight-default);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-dark);
    --color-text: var(--color-white);
  }
}

@media (prefers-color-scheme: white) {
  :root {
    --color-background: var(--color-white);
    --color-text: var(--color-dark);
  }
}

*,
*::before,
*::after {
	box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, button, input, textarea, select {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  background-color: transparent;
}

a, input, button {
  font-size: var(--text-p);
  font-weight: 500;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background: none;
  cursor: pointer;
}

a, a:link, a:visited, a:hover, a:focus {
  text-decoration: none;
}

aside, nav, footer, header, section, main {
	display: block;
}

ul, ul li {
	list-style: none;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

input::-ms-clear {
	display: none;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}